# Application
NODE_ENV=development
APP_PORT=5556
APP_AUTH_TOKEN=your_auth_token_here
DEVELOPER_NAME=searchland

# Endpoints
GOT_ENDPOINT=http://localhost:5556
PUPPETEER_ENDPOINT=http://localhost:5556
DOCUMENT_ENDPOINT=http://localhost:5556

# Database
DB_HOST=bc-db-host
DB_NAME=
DB_USERNAME=
DB_PASSWORD=
DB_PORT=5433

# Google Cloud
GC_KEY=
GC_PROJECT_ID=
GC_PROJECT_LOCATION=
GC_SERVICE_EMAIL=
GC_TASK_URL=
GC_TASK_PORT=
GC_TASKS_LOCATION=us-central1
GC_STORAGE_PREFIX=

# Services
TWO_CATCHA_API_KEY=
OS_PLACES_API_KEY=
IP_ROYAL_API_KEY=
TASCOMI_LOGIN=
TASCOMI_PASSWORD=

# Proxies (JSON format: {"username": "...", "password": "..."})
PROXY_PREMIUM_UK=
PROXY_LONDON_SOCIAL=
PROXY_WEBSHARE_UK=
PROXY_WEBSHARE_US=
PROXY_WEBSHARE_AU=
PROXY_WEBSHARE_UK_LIM=
